.comments h2 {
    margin-top:50px;
    margin-left: 100px;
    margin-bottom: 30px;
    color: #fff;
}
.comments h5 {
    margin-left: 100px;
    color: #fff;
}
.comments small {
    margin-left: 100px;
    color: #fff;
}