.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/img/group.png');
	  background-color: #0b1d26;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .forgot-password-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .forgot-password-box h2 {
    margin-bottom: 10px;
  }
  
  .forgot-password-box p {
    color: #666;
    font-size: 14px;
  }
  
  .forgot-password-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .forgot-password-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-box button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-box button:disabled {
    background-color: #a0c4ff;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .back-to-login {
    margin-top: 15px;
  }
  
  .back-to-login a {
    color: #007bff;
    text-decoration: none;
  }
  