/* Stil svih labela */
form label {
    font-weight: 800;
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
    color: #fff; 
}
/* Textarea posebni stil */
textarea {
    height: 120px;
    resize: vertical;
}
h1.contact-us {
	color: #fbd784;
	font-family: "DM Serif Display", sans-serif;
    font-size: 60px;
    line-height: 120%;
    text-transform: capitalize;
    font-weight: 600;
	letter-spacing: 6px;
    text-align: center;
	margin-left: 15px;
	margin-top: 50px;
    margin-bottom: 100px;
}
h2.wp-block-heading.container {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 6px;
	text-transform: uppercase;
}
h3.wp-block-heading.container {
	color:#fff;
	font-size: 30px;
    font-weight: 600;
    font-family: "DM Serif Display", sans-serif;
	line-height: 110%;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-top: 30px;
}
p.container {
	color:#fff;
	font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
iframe {
	height:450px;
	width: 100%;
	border:0px;
}
.contact button, .contact input, .contact optgroup, .contact select, .contact textarea {
    width: 100%;
}
.contact input.wpcf7-form-control.wpcf7-submit.has-spinner {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
	letter-spacing: 6px;
	background-color: #fbd784;
}

