.checkout {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: left;
}
.checkout h1 {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkout .table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.checkout .table th, .table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.checkout .table th {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.checkout h3 {
    background-color: #fff;
    color: #e91e63;
    letter-spacing: 0px;
    text-align: center;
}   
.checkout-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.checkout .btn-success {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: white;
    border: 0;
    opacity: .25;
}
hr:not([size]) {
    height: 2px;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
}
.form-check .form-check-input {
    float: left;
    width: 20px;
    margin-left: -1.5em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    appearance: none;
}
label.form-check-label {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    width: 400px;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-label {
    color: #fff;
}
.text-muted {
    color: #fff !important;
}