.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}
.product-image {
    flex-grow: 1; /* Omogućava da opis proizvoda popuni prazan prostor */
    display: flex;
    flex-direction: column;
}
.product-image .card-img {
    margin-top: 0px;
}
.product-image .card-title {
    color: #198754;
    margin-top: 20px;
    text-align: center;
}
.product-image a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.product-image .product-description {
    font-size: 16px;
    color: #555;
    text-align: justify;
    height: 140px;
    margin: 10px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Gura gumb i cijenu prema dolje */
}
.product-image button.btn {
    padding: 10px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Gura gumb i cijenu prema dnu */
    width: 100%;
}
.price-button {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}
.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    margin-right: 10px;
}
.cart-notification, .cart-notification a  {
    color: #e91e63;
    font-size: 14px;
    text-transform: uppercase;
}


