body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

root{
	--primary: #fff;
	--secondary: #;
}

body {
    font-family: "Roboto", sans-serif; 
    font-size: 18px;
	  line-height: 2;
	  font-weight: 500;
	  color: var(--primary);
	  margin: 0;
    min-height: 100%;
	  background-color: rgba(3, 18, 26, 0.8);
	  transition: all 200ms ease;
}